<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Visualizacion</title>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
          <label for="nRadius">
         radius = <span id="nRadius-value">...</span>
  </label>
  <input type="range" min="3" max="15" id="nRadius">
        <div class="container">
            <div id="vis-1">
            </div>
            <div id="vis-2">
            </div>
        </div>
        
        <script src="../js/data.js"></script>
    </body>
</html>