<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Visualizacion</title>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="Titulo">
            <h1> Comportamiento Semanal Top Songs in spotify 2021</h1>
            <h2> Examen Visualizacion de Informacion - Javier Poblete</h2>
            <p>Elija la cantidad de puestos en el top: </p>
            <input type="range" min="3" max="15" id="nRadius">
              <label for="nRadius"> <span id="nRadius-value">...</span>  </label>
        </div>
        <div class="container">
            <div id="vis-1">
            </div>
            <div id="vis-2">
            </div>
        </div>
        
        <script src="../js/data.js"></script>
    </body>
</html>