body{
  background-color: #3B3B3B;
}

.titulo{
  text-align:center;
  color: #fff;
  
}
.container{
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.click-active, .active {
  opacity: 1.0;
  stroke-opacity: 1.0;
  z-index: 1000;
  /*r: 8;*/
}

path.click-active {
  stroke-width: 3.0;
}

path.active {
  stroke-width: 3.0;
}

.axis text {
  font: 15px sans-serif;
  color: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  color: #fff;

  shape-rendering: crispEdges;
}


.tooltip {
  position: absolute;
  padding: 10px;
  font: 15px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}